* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(232, 130, 232, 0.7)), to(rgba(103, 75, 175, 0.7))), url(./images/bg-desktop.svg);
  background-image: linear-gradient(to right, rgba(232, 130, 232, 0.7), rgba(103, 75, 175, 0.7)), url(./images/bg-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main img {
  width: 100%;
}

.main .container {
  padding: 9rem 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4rem;
}

.main .container .container-left {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 60%;
          flex: 1 1 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.main .container .container-left .logo {
  padding: 2rem 0;
}

.main .container .container-right {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40%;
          flex: 1 1 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.main .container .container-right .header-1 {
  color: #fff;
  line-height: 1.4;
  letter-spacing: .6px;
  margin-bottom: 2rem;
}

.main .container .container-right .text {
  color: #fff;
  line-height: 1.2;
  letter-spacing: .6px;
  margin-bottom: 1.4rem;
}

.main .container .container-right .btn-register {
  background-color: #fff;
  color: #674baf;
  border: none;
  border-radius: 50px;
  padding: 1rem 4rem;
  font-size: 1.2rem;
  cursor: pointer;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.main .container .container-right .btn-register:hover {
  background-color: #e882e8;
  color: #fff;
}

.icon-container {
  position: absolute;
  bottom: 0;
  right: 0;
}

.icon-container ion-icon {
  font-size: 2rem;
  padding: .5rem;
  fill: #fff;
  margin-right: 1.2rem;
  border: 1px solid #fff;
  border-radius: 50%;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.icon-container ion-icon:hover {
  border: 1px solid #e453e4;
  fill: #df5ddf;
}

@media (max-width: 62em) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2rem;
  }
  .container-right {
    display: block;
  }
  .icon-container {
    position: relative;
    margin: 4rem auto 0;
  }
  .btn-register {
    margin: 0 auto;
    width: 80%;
  }
}

@media (min-width: 1em) and (max-width: 37.5em) {
  html {
    font-size: 56%;
  }
  body {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(232, 130, 232, 0.7)), to(rgba(103, 75, 175, 0.7))), url(./images/bg-mobile.svg);
    background-image: linear-gradient(to right, rgba(232, 130, 232, 0.7), rgba(103, 75, 175, 0.7)), url(./images/bg-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
  }
  .container {
    padding: 2rem;
  }
  .container-right {
    text-align: center;
  }
  .container-right .header-1 {
    text-align: center;
    margin: 0 auto;
  }
  .container-right .icon-container {
    position: relative;
    margin: 4rem auto 0;
  }
  .container-right .btn-register {
    margin: 0 auto;
    width: 80%;
  }
}
/*# sourceMappingURL=style.css.map */